html {
  font-family: helvetica, sans-serif;
  background-color: #f2f2f2;
}

@font-face {
  font-family: norse;
  src: url(../sign-up/font/Norse-Bold.otf)
}

.parent-container {
  display: flex;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 500px;
  width: 100vw;
  min-width: 700px;
  overflow: hidden;
}

.left-container {
  height: 100%;
  position: relative;
}

.odin-logo-bar {
  height: 125px;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 100px;
}

.logo-name {
  height: 80%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

#odin-logo {
  height: 100%;
}

.odin-name {
  color: #ffffff;
  font-size: 80px;
  font-family: norse, sans-serif;
}

.photo-caption {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #ffffff;
  font-size: 10px;
}

.right-container{
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

#side-image {
  width: 100%;
}

.intro-container {
  background-color: #f2f2f2;
  height: 35%;
  display: flex;
  align-items: center;
}

.form-container {
  background-color: #ffffff;
  overflow: auto;
  box-shadow: 5px 5px 5px lightgrey;
  position: relative;
  z-index: 1;
}

.submission {
  background-color: #f2f2f2;
  height: 35%;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

label {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: rgb(65, 65, 65);
}

input {
  -webkit-appearance: none;
  appearance: none;
  width: 170px;
  height: 15px;
  border-color: #f2f2f2;
  border-style:solid;
  border-width: 1px;
  border-radius: 3px;
  display: block;
}

form {
  margin: 20px 40px 25px 40px;
}

.option {
  margin: 0 25px 10px 0;
}

button {
  margin: 30px 40px;
  height: 35px;
  width: 150px;
  font-size: 11px;
  background-color: rgb(71, 97, 3);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightgrey;
}



